.root {
  position: relative;
  
  & .signinForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
    min-height: 49rem;
    padding: 2rem;
    padding-bottom: 4rem;
    border: 1px solid var(--color-border-blue);
    border-radius: 5px;
    box-shadow: 3px 3px 10px var(--color-border-dark);
  }
}
