:root {
  --font-xs: 0.5em;
  --font-sm: 0.75em;
  --font-md: 1em;
  --font-lg: 1.25em;
  --font-xl: 1.75em;

  --radius-xs: 1px;
  --radius-sm: 3px;
  --radius-md: 10px;
  --radius-lg: 15px;
  --radius-xl: 25px;
  
  --color-alert: #fa5252;
  --color-bg-dark: #2e2e2e;
  --color-bg-dark-filled: #3b3b3b;
  --color-bg-blue: #1971c2;
  --color-text-main: #c9c9c9;
  --color-text-dark: #828282;
  --color-border-dark: #424242;
  
  --input-width: 17rem;
  
}

.root {
  margin: 0 auto;
}

.labelWrapper {
  font-size: 16px;
  color: var(--color-text-main);
}

.descriptionWrapper {
  font-size: 14px;
  color: var(--color-text-dark);
}

.inputWrapper {
  font-size: 16px;
  border-radius: var(--radius-sm);
  position: relative;
  
  & .iconLeft {
    position: absolute;
    color: var(--color-text-dark);
  }
  
  & input {
    color: var(--color-text-main);
    background-color: var(--color-bg-dark);
    display: block;
    min-height: 1rem;
    padding: .5rem;
    border: solid 1px var(--color-border-dark);
    &:focus {
      outline: none;
      border: solid 1px;
      border-color: var(--color-border-blue);
    }
  }
}

.errorWrapper {
  font-size: 14px;
  color: var(--color-alert);
  border-color: var(--color-alert);
  & input {
    color: var(--color-alert);
  }
  & input:focus { 
    outline: none;
    border-color: var(--color-alert);
    color: var(--color-alert);
  }
  & .iconLeft {
    color: var(--color-alert);
  }
}



.font-size {
  &_xs {
    font-size: var(--font-xs);
    & input {
      padding: .5rem;
      padding-left: 1rem;
      min-height: .5rem;
      width: calc(40 * var(--font-xs));
    }
  }

  &_sm {
    font-size: var(--font-sm);
    & input {
      padding: .7rem;
      padding-left: 1.4rem;
      width: calc(15 * var(--font-sm));
    }    
  }

  &_md {
    font-size: var(--font-md);
    & input {
      padding: 1rem;
      padding-left: 2rem;
      width: calc(15 * var(--font-md));
    }    
  }

  &_lg {
    font-size: var(--font-lg);
    & input {
      padding: 1.1rem;
      padding-left: 2.6rem;
      width: calc(10 * var(--font-lg));
    }
  }

  &_xl {
    font-size: var(--font-xl);
    & input {
      padding: 1.5rem;
      padding-left: 5.5rem;
      width: calc(5 * var(--font-xl));
    }
  }
}

.radius-size {
  &_xs {
    & input {
      border-radius: var(--radius-xs);
    }
  }

  &_sm {
    & input {
      border-radius: var(--radius-sm);
    }
  }

  &_md {
    & input {
      border-radius: var(--radius-md);
    }
  }

  &_lg {
    & input {
      border-radius: var(--radius-lg);
    }
  }

  &_xl {
    & input {
      border-radius: var(--radius-xl);
    }
  }
}

.inputRequired {
  padding-left: .2rem;
  color: var(--color-alert);
}

input.filled {
  background-color: var(--color-bg-dark-filled);
}

input.unstyled {
  background-color: transparent;
  border: none;
}

.icon-size {
  &_xs {
    top: 25%;
    left: 2%
  }

  &_sm {
    top: 28%;
    left: 2%
  }

  &_md {
    top: 34%;
    left: 2%
  }

  &_lg {
    top: 34%;
    left: 2%
  }

  &_xl {
    top: 25%;
    left: 2%
  }
}